# 111-2 LAT HW1 : 高級中等學校體育班特色招生甄選入學名額

In [31]:
import pandas as pd
df103 = pd.read_csv("103.csv")
df108 = pd.read_csv("108.csv")

In [32]:
df108

     學年度  縣市別          學校名稱 運動種類  男性名額  女性名額  不分性別名額
0    108  臺北市    臺北市立萬芳高級中學   射擊     0     0       6
1    108  臺北市    臺北市立萬芳高級中學  跆拳道     0     0       8
2    108  臺北市    臺北市立萬芳高級中學   合球     0     0      12
3    108  臺北市    臺北市立萬芳高級中學   舉重     0     0       4
4    108  臺北市    臺北市立南港高級中學   田徑     0     0       9
..   ...  ...           ...  ...   ...   ...     ...
451  108  桃園市    桃園市立觀音高級中學   桌球     0    10       0
452  108  桃園市    桃園市立觀音高級中學   羽球     0     0      15
453  108  桃園市  桃園市立新屋高級中等學校   擊劍     0     0       4
454  108  桃園市  桃園市立新屋高級中等學校   壘球     0    10       0
455  108  桃園市  桃園市立新屋高級中等學校   籃球    16     0       0

[456 rows x 7 columns]

## 問題
1.已108年為例，全國高中職體育班特招學校縣市分佈最高縣市？

2.已108年為例，全國高中職體育班特招總人數最高縣市？

3.

In [41]:
city = df108[['縣市別','男性名額','女性名額','不分性別名額']]
city

     縣市別  男性名額  女性名額  不分性別名額
0    臺北市     0     0       6
1    臺北市     0     0       8
2    臺北市     0     0      12
3    臺北市     0     0       4
4    臺北市     0     0       9
..   ...   ...   ...     ...
451  桃園市     0    10       0
452  桃園市     0     0      15
453  桃園市     0     0       4
454  桃園市     0    10       0
455  桃園市    16     0       0

[456 rows x 4 columns]

In [45]:
df108['男性名額'].sum()

1024

In [44]:

city = city.groupby(['縣市別'])['學校名稱'].sum().reset_index()
city

KeyError: 'Column not found: 學校名稱'

In [18]:
df108['縣市別'].value_counts()

臺北市    85
高雄市    80
新北市    79
臺中市    62
桃園市    46
彰化縣    22
屏東縣    21
苗栗縣    11
基隆市     9
新竹市     8
嘉義縣     8
臺南市     7
雲林縣     7
南投縣     4
宜蘭縣     4
新竹縣     3
Name: 縣市別, dtype: int64