In [8]:
import pandas as pd
df = pd.read_csv('tuition_fee.csv')
import matplotlib.pyplot as plt
df = df.drop("學校統計處代碼", axis='columns')
df = df.rename(columns={"日間學制學士班學雜費收費基準-醫學系": "Department of Medicine"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-牙醫學系": "Department of Dental Medicine"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-醫學院": "College of Medicine"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-工學院": "College of Engineering"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-理農學院": "College of Science and Agriculture"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-商學院": "College of Business"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-文法學院": "College of Law and Liberal Arts"})
df = df.rename(columns={"日間學制學士班學雜費收費基準-其他": "Others"})
df = df.rename(columns={"日間學制副學士學雜費收費基準(五專後2年、二專)-工業類": "Associate Degree of Industry"})
df = df.rename(columns={"日間學制副學士學雜費收費基準(五專後2年、二專)-商管類": "Associate Degree of Business and Management"})
df = df.rename(columns={"日間學制副學士學雜費收費基準(五專後2年、二專)-醫護類": "Associate Degree of Medical Care"})
df = df.rename(columns={"日間學制副學士學雜費收費基準(五專後2年、二專)-其他": "Associate Degree of Others"})
#Bachelor of ---
#Associate degree
df

,學年度,設立別,學校類別,學校名稱,Department of Medicine,Department of Dental Medicine,College of Medicine,College of Engineering,College of Science and Agriculture,College of Business,College of Law and Liberal Arts,Others,Associate Degree of Industry,Associate Degree of Business and Management,Associate Degree of Medical Care,Associate Degree of Others
0,106,公立,一般大學,國立政治大學,0,0,0,0,"28,430","24,890","24,510",0,0,0,0,0
1,106,公立,一般大學,國立清華大學,0,0,0,"28,630","28,630","24,370","24,370",0,0,0,0,0
2,106,公立,一般大學,國立臺灣大學,"39,560","36,170","31,050","29,470","30,260","25,610","25,230",0,0,0,0,0
3,106,公立,一般大學,國立臺灣師範大學,0,0,0,"27,600","27,380",0,"23,590",0,0,0,0,0
4,106,公立,一般大學,國立成功大學,"39,550",0,"31,040","29,490","29,250","25,600","25,210",0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,110,私立,技專校院,新生醫護管理專科學校,0,0,0,0,0,0,0,0,0,"35,020~35,520","36,540~38,746","34,520~35,520"
770,110,私立,技專校院,崇仁醫護管理專科學校,0,0,0,0,0,0,0,0,0,"35,000","36,023~38,275","35,000~37,800"
771,110,私立,宗教研修學院,臺北基督學院,0,0,0,0,0,0,"85,000",0,0,0,0,0
772,110,私立,宗教研修學院,財團法人一貫道天皇基金會一貫道天皇學院,0,0,0,0,0,0,"25,210",0,0,0,0,0
773,110,公立,一般大學,臺北市立大學,0,0,0,0,"23,500","24,000","20,200",0,0,0,0,0